<div id="submitted-response">
    <span class="lead">Name:</span>
    <span id="submitted-name">{{ product.name }}</span><br><br>
    <span class="lead">Qty:</span>
    <span id="submitted-twy">{{ product.qty }}</span><br><br>
    <span class="lead">Price/Item:</span>
    <span id="submitted-price">${{ product.price }}</span><br><br>
    <span class="lead">Datetime:</span>
    <span id="submitted-date">{{ product.datetime }}</span><br><br>
    <span class="lead">Total:</span>
    <span id="submitted-total">${{ product.total }}</span>
</div>